.block{
    font-size: 14px;
    display: flex;
    position: relative;
    justify-content: center;
    height: 20vh;
    background-color: #282c34;
}

.container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.links {
    height: 40%;
    padding: 5px;
    margin: 0 auto;
    list-style: none;
    width: 60vw;
    /*border: 1px solid;*/
    display: flex;
    justify-content: space-around;
}

@media screen and (max-height: 900px) {
    .block{
        height: 15vh;
    }
}

